*,
*::after,
*,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}

.img {
  width: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.users-container {
  display: flex;
  justify-content: center;
}

.users {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  width: 70%;
}

.wholeuser {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.wholeuser:hover {
  border: 1px solid #849fff;
  border-radius: 1rem;
}

h1 {
  margin-left: 15%;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
}

.interest {
  color: #87a0ce;
  font-weight: 600;
  font-size: 0.7rem;
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border: 1px solid #849fff;
  border-radius: 20px;
  margin: 0.15rem;
}

.search {
  display: flex;
  margin-left: 15%;
  padding: 17px 45px;
  border: 1px solid #849fff;
  border-radius: 6px;
  font-size: 0.9rem;
  background: url("./icon/magnifying-glass-search-pngrepo-com.png") top left
    no-repeat;
  background-size: 1.3rem;
  background-position: 0.8rem;
}

.search:focus {
  outline: #849fff;
  outline-style: solid;
  outline-width: 1px;
}

input::placeholder {
  color: #373c47;
}

.filter {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  justify-content: right;
  margin-right: 15%;
  gap: 1rem;
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #373c47;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1.2rem 1rem;
  text-align: center;
  text-decoration: none #373c47 solid;
  transition: all 0.05s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: red;
  }

  .button-81:hover {
    background-color: #849fff !important;
    color: #fff !important;
  }
}

.searchicon {
  width: 1.8rem;
}

@media only screen and (max-width: 500px) {
  .filter {
    justify-content: center;
    margin-right: 0;
  }
  h1 {
    margin-left: 0;
    display: flex;
    font-size: 1.7rem;
    font-weight: 600;
    justify-content: center;
  }
  .search {
    margin: 0 auto;
    padding: 12px 45px;
    border: 1px solid #849fff;
    border-radius: 6px;
    font-size: 0.9rem;
    justify-content: center;
    background-size: 1rem;
    background-position: 0.6rem;
  }
  .button-81 {
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 1.1rem 0.9rem;
  }
  .users {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin-top: -1rem;
  }
}
